<h1>Who is Nathan?</h1>

<section>
  <h2>About Me</h2>
  <p>I am a Mailman, Bassist, Synthesist, Composer, Producer, Sound Engineer, and Software Engineer. Born in Corpus Christi, TX in 1986, raised in Seattle, WA until 1996, 
  came to adulthood in New Orleans, LA until 2024 when I moved to Greer, SC with my lady, Sarah Swinarski.</p>
</section>

<section>
  <h3>My Journey</h3>
  <p>Friday, October 4th, 2024</p>
  <p>There were several places where I resided in the New Orleans area, including Old Jefferson, Uptown, Mid-City, Marigny, 9th Ward, Mandeville, and finally Amite City for the final 6 years. 
  As a postal worker in Louisiana, I worked in various offices, including Amite, Covington, Mount Hermon, and Franklinton. Currently in Greer, 
  I am soon returning to the academy for the fourth time to become a City Carrier Associate in Taylors, SC.</p>
  
  <p>I was a musician for at least 20 years of my life. I learned by playing along with the radio as a child and later attended the 
  New Orleans Center for Creative Arts during high school. NOCCA taught me all the theory I needed to become a passionate and productive composer and bassist. 
  I sometimes resent the Jazz Education format, which aims to keep students within the boundaries of “the tradition,” essentially stifling the evolution of Jazz music. 
  I’ve worked throughout my professional career to unlearn the ideals instilled in me. I believe in keeping an open mind and hearing music as an uneducated listener, 
  free from critical, technical thought. More on this to come.</p>
</section>

<section>
  <h3>Clerking for USPS</h3>
  <p>Sunday, November 3rd, 2024</p>
  <p>After accepting and rescinding several mail carrier positions in the Greenville and Greer area, I was sent an offer for a carrer Window Clerk positon at a small town in North Carolina, called Etowah. 
  It is a long commute, but not as long or treacherous as my previous commute in Louisiana. The pay is about 40% higher than the entry-level mail carrier positions I was courting before, 
  and I have immediate access to the great career benefits, such as retirement, healthcare and sick leave. So far I like the position enough, although I am still training and need to learn how 
  to deal with customers. It is my first time working in a retail type of setting. The Post Office is a great job, and I notice that it launches me into an energized effort to better myself, 
  in hopes that I may not only improve my quality of work at the post office, but may be able to find more rewarding work elsewhere someday, which is how and why I learned to code in the first place.</p> 
</section>