<h1>Who is Nathan?</h1>

<h2>I am a Mailman, Bassist, Synthesist, Composer, Producer, Sound Engineer and Software Engineer. 
  Born in Corpus Christi, TX in 1986, raised in Seattle, WA until 1996, came to adulthood in New Orleans, LA 
  until 2024 when I moved to Greer, SC with my lady, Sarah Swinarski.</h2>

<h3>Friday, October 4th, 2024</h3>
  <p>There were several places where I resided in the New Orleans area, including Old Jefferson, Uptown, Mid-City, Marigny, 9th ward,
    Mandeville and finally Amite City for the final 6 years. As a postal worker in Louisiana, I have worked in a few different offices, including 
    Amite, Covington, Mount Hermon and Franklinton. Currently in Greer, I am soon returning to academy for the 4th time to become a 
    City Carrier Associate in Taylors, SC.</p>
  
  <p>I was a musician for 20 years of my life, at least. I learned by playing along with the radio as a child, and then attended the
    New Orleans Center for Creative Arts during my high school years. NOCCA taught me all the theory I needed to become a passionate and 
    productive composer and bassist. I sometimes resent the Jazz Education format, as it aims to keep the student within the boundaries
    of something called "the tradition", which is basically a way of keeping Jazz music from progressing too quickly by remaining
    within the world of Swing, Bebop and the like. I have worked my entire professional career to unlearn all of the ideals that were 
    bestowed upon me. I believe in keeping an open mind and hearing music as an uneducated listener, free from critical, technical 
    thought. More on this to come.</p>
