<h1>Nathan's Junkyard</h1>
<h2>A collection of stuff I don't want to keep to myself, lest I forget about it.</h2>
<h3>Directory:</h3>

<ol>
  <li><a href="/about">About Nathan</a></li>
  <li><a href="/contact">Contact Nathan</a></li>
  <li><a href="/junkyards">Junkyard</a></li>
  <li><a href="/thoughts">Thoughts</a></li>
</ol>