<h1>Thoughts by Nathan</h1>

<h2>Work</h2>

<section>
  <h3>Clerking for USPS</h3>
  <p>Sunday, November 3rd, 2024</p>
  <p>After accepting and rescinding several mail carrier positions in the Greenville and Greer area, I was sent an offer for a carrer Window Clerk positon at a small town in North Carolina, called Etowah. 
  It is a long commute, but not as long or treacherous as my previous commute in Louisiana. The pay is about 40% higher than the entry-level mail carrier positions I was courting before, 
  and I have immediate access to the great career benefits, such as retirement, healthcare and sick leave. So far I like the position enough, although I am still training and need to learn how 
  to deal with customers. It is my first time working in a retail type of setting. The Post Office is a great job, and I notice that it launches me into an energized effort to better myself, 
  in hopes that I may not only improve my quality of work at the post office, but may be able to find more rewarding work elsewhere someday, which is how and why I learned to code in the first place.</p>  
  <p>Sunday, January 12th, 2025</p>
  <p>I survived working Christmas alone as a Clerk in the little post office in Etowah. It was one of the most challenging things I have ever faced. My first official day on duty was a few weeks before Christmas,
  and literally that day the only other Clerk left at Noon with a back injury. She is returning to work now, on light duty because she cannot lift more than 15 pounds. 
  I worked over 60 hours many of the weeks, on top of my almost 3 hour round-trip commute. It was totally exhausting, and I contemplated quitting the job many times. As a matter of fact, I still do almost daily.
  As much as I am grateful for the solid job, I just hate working retail. The other parts of the job are fine. I love sorting mail and doing the organizational and physically demanding work,
  but when it comes to the 8 hours working on the window every day, I would rather do anything else. Even cleaning the bathroom is a major break for me now. I am a patient, kind human and I love
  people in general, but I am just sick of smiling and selling stamps and listening to the problems of the customers. I really do not give a damn. So, instead of quitting, I am sticking it out and
  scouring the USPS reAssign portal for a new position that is closer to home, and either less retail or at least in a larger office where there are multiple clerks to help me out with customers.
  It is really hard for me to find anything else that pays what this job pays, so that is keeping me there.</p>
  
  <% cache @thought_art1 do %>
    <%= image_tag @thoughts_art1.image_url, height: "400", alt: "Thought Art" %>
  <% end %>

  <p>This old Chinese cup is beautiful and made with extreme skill and passion, in a time before internet, online shopping and USPS customers. Creating great Art like this brings a sense
  of purpose and peace to the mind. Enjoy.</p>
</section>