<h1>Thoughts by Nathan</h1>

<h2>Work</h2>

<section>
  <h3>Clerking for USPS</h3>
  <p>Sunday, November 3rd, 2024</p>
  <p>After accepting and rescinding several mail carrier positions in the Greenville and Greer area, I was sent an offer for a carrer Window Clerk positon at a small town in North Carolina, called Etowah. 
  It is a long commute, but not as long or treacherous as my previous commute in Louisiana. The pay is about 40% higher than the entry-level mail carrier positions I was courting before, 
  and I have immediate access to the great career benefits, such as retirement, healthcare and sick leave. So far I like the position enough, although I am still training and need to learn how 
  to deal with customers. It is my first time working in a retail type of setting. The Post Office is a great job, and I notice that it launches me into an energized effort to better myself, 
  in hopes that I may not only improve my quality of work at the post office, but may be able to find more rewarding work elsewhere someday, which is how and why I learned to code in the first place.</p> 
    
  <p>Sunday, January 12th, 2025</p>
  <p>I survived working Christmas alone as a Clerk in the little post office in Etowah. It was one of the most challenging things I have ever faced. My first official day on duty was a few weeks before Christmas,
  and literally that day the only other Clerk left at Noon with a back injury. She is returning to work now, on light duty because she cannot lift more than 15 pounds. 
  I worked over 60 hours many of the weeks, on top of my almost 3 hour round-trip commute. It was totally exhausting, and I contemplated quitting the job many times. As a matter of fact, I still do almost daily.
  As much as I am grateful for the solid job, I just hate working retail. The other parts of the job are fine. I love sorting mail and doing the organizational and physically demanding work,
  but when it comes to the 8 hours working on the window every day, I would rather do anything else. Even cleaning the bathroom is a major break for me now. I am a patient, kind human and I love
  people in general, but I am just sick of smiling and selling stamps and listening to the problems of the customers. I really do not give a damn. So, instead of quitting, I am sticking it out and
  scouring the USPS reAssign portal for a new position that is closer to home, and either less retail or at least in a larger office where there are multiple clerks to help me out with customers.
  It is really hard for me to find anything else that pays what this job pays, so that is keeping me there.</p>
  
  <% cache @thought_art1 do %>
    <%= image_tag @thoughts_art1.image_url, height: "400", alt: "Thought Art 1" %>
  <% end %>

  <p>This old Chinese cup is beautiful and made with extreme skill and passion, in a time before internet, online shopping and USPS customers. Creating great Art like this brings a sense
  of purpose and peace to the mind. Enjoy.</p>

  <h2>Goodbye Once Again, USPS!</h2>
  <h3>Sunday, April 20th, 2025</h3>
  <p>I have left USPS once again. The stress became too great, almost entirely because of my Postmaster being too overbearing and a micro-manager. She was friendly much of the time, but 
  would always revert to aggressive, angry behavior. It reminded me very much of my relationship with my ex-wife, who was a bipolar alcoholic. I tried so hard to be a great clerk. 
  The customers loved me, I was always on time (even getting up at 330am on the regular) and I paid great attention to detail in every aspect of my duties.</p>

  <p>Not long after surviving Christmas, I began rage-applying to jobs online, anything that paid over $20 per hour. Lawncare, maintenance, whatever! Every Sunday I would spend half my day-off 
  scouring the web for anything that could set me free from the prison of a job I was holding onto. A couple weeks ago, I came across an interesting listing for "entry-level CAD Drafter",
  in a town called Hendersonville in North Carolina, which is about 15 minutes closer than my Post Office job in Etowah, NC. I googled CAD Drafter, and discovered it was something that I 
  might actually enjoy a good bit. Before I became aware of the location and job details, however, I had already sent my resume to them and promptly forgot all about it. I went back to work
  on Monday with my head hung low, hating every minute of tortue from my boss constantly checking on me during the 10-hour day. I had a vacation scheduled that week Wednesday-Sunday though,
  so I had something to look forward to. On Wednesday, my first day off, I was called into work at 430am. Luckily I got to leave before Noon and they promised me the rest of my break would be safe.
  The next day I recieved a message from the recruiter at the CAD Drafter job, and they said they wanted to schedule me to come in for an interview the next Monday. I talked them into letting me
  come in sooner, and Friday I met with them during my vacation. We hit it off, and they promised to send me an offer that afternoon! The offer never came. I waited all weekend, my vacation 
  spoiled by anxiety and restless nights. I returned to work at USPS on Monday, head hanging lower than ever before. I almost couldn't get out of bed that morning at 330am. To my great surprise
  and satisfaction, the recruiter apologized for the delay and sent me the offer! I recieved it around 9am while I was sorting mail and getting shamed by my boss. I accepted it on my phone with one hand,
  scribbling my signature electronically and hitting the send button as quickly as I could. That day turned out to be my longest day yet. I didn't finish until 7pm, and made it home around 830pm.
  The carrier for Route 1 was a sub, and he is very slow, so I had to wait for him to return before I could close the office. During my lunch break I drove up to the highest point in the Etowah 
  area, and looked upon the land with great hopes for my future. I thought about my journey from birth to that point. What an adventure it has been! I did not tell my postmaster about my new job 
  until I was halfway home that night... I sent her a text as my car coasted down the mountain into South Carolina, the sun casting a red light on that new land of opportunity. Yesterday was my 
  last day at work. Tomorrow I start my new carrier in CAD Drafting. I still can't wrap my head around this sudden change. Life is strange, difficult and wonderful. I am happy.</p> 

  <p>Here is a random image of... George Washington? For some reason he reminds me to live my life the way that best suits myself.</p>
  <% cache @thought_art2 do %>
    <%= image_tag @thoughts_art2.image_url, height: "400", alt: "Thought Art 2" %>
  <% end %>   
</section>